<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body style="padding: 10px;font-size: 20px">
<a href="/login?logout">Log out</a>
<br>
<a href="/user">Current User Page</a>

<h2>Users</h2>
<table style="  font-size: 14px;
                width: 660px;
                background: white;
                text-align: left;
                border-collapse: collapse;
                border: #3E4347 ;
                color: #3E4347;">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Password</th>
        <th>Actions</th>

    </tr>

        <th:block th:each="user : ${users}">
        <tr>
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getName()}"></td>
                <td th:text="${user.getLastName()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.getPassword()}"></td>
            <td>
                <a th:href="@{/admin/edit/{id}(id=${user.getId()})}">edit</a>
                <a th:href="@{/admin/delete/{id}(id=${user.getId()})}">delete</a>
            </td>
        </tr>

    </th:block>
</table>

<h2>Add</h2>
<a href="/admin/add">Add new User</a>



</body>
</html>